.content {
  width: 70%;
  margin: auto;
}

h1 {
  border: 5px solid rgb(3, 173, 240);
  border-radius: 25px;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}

.question {
  border: 2px solid rgb(248, 170, 192);
  margin-bottom: 30px;
  padding: 10px 10px 10px 25px;
  box-shadow: 5px 10px rgb(248, 170, 192);
  font-size: 18px;
}

.answer {
  font-style: italic;
}
