.img {
  width: 200px;
  height: auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

li {
  font-size: 20px;
}

.doreamon {
  width: 500px;
  height: auto;
}

.textpic {
  display: grid;
  grid-template-columns: min-content 1fr;

}

.introduction {
  font-family: 'Alkatra', cursive;
  font-size: 30px;
}

h2 {
  font-size: 58px;
}